<?xml version="1.0" encoding="UTF-8" ?>
<servlets>
    <servlet>
        <name>login</name>
        <servlet-name>server.demo1.servletXMl.servlet.login.LogInServlet</servlet-name>
    </servlet>
    <mapping>
        <name>login</name>
        <url-pattern>/login</url-pattern>
    </mapping>
    <mapping>
        <name>login</name>
        <url-pattern>/log</url-pattern>
    </mapping>
    <servlet>
        <name>reg</name>
        <servlet-name>server.demo1.servletXMl.servlet.register.RegisterServlet</servlet-name>
    </servlet>
    <mapping>
        <name>reg</name>
        <url-pattern>/reg</url-pattern>
    </mapping>
</servlets>